// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";
@import "bulma-switch";

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

// .navbar-laravel {
//   background-color: #fff;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
// }

html, body {
  color: #323334;
  font-family: $font-family-sans-serif;
  min-height: 100vh;
  margin: 0;
}

a {
  color: #65D36E;
}

a:hover {
  color: #3f8445;
}

[v-cloak] * { display:none }
[v-cloak]::before { content: "loading…" }

.box {
  transition: all 1s;
  display: block;
  width: 100%;
  padding: 10px;
  box-shadow: 0 1px 0 rgba(10, 10, 10, .1);
  border-radius: 0;

  &:not(:last-child) {
    margin-bottom: .5rem;
  }
}

.flip-list-enter, .flip-list-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
.flip-list-leave-active {
  opacity: 0;
  transition: opacity .2s, transform 1s;
  position: absolute;
}


.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.what {
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 100%;
}

.level-left,
.level-right {
  flex-shrink: 1;
}

.level-right {
  margin-left: 15px;
}
@media screen and (max-width: 768px) {
  .level-left+.level-right {
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .columns.is-variable .column {
    padding-left: .5rem;
    padding-right: .5rem;
  }
}

